body {
  margin: 0;
  padding: 0;
  background: linear-gradient(black, white);
}
.main-picture {
  position: relative;
}
img {
  width: 100%;
}
[alt="personnage-printemps"] {
  width: 40px;
  height: 70px;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 0%;
  animation: personnage-printemps 15s linear infinite;
}
@keyframes personnage-printemps {
  0% {
    margin-top: 0%;
    z-index: 2;
  }
  100% {
    margin-left: 25%;
    z-index: 2;
  }
}

[alt="person-ete"] {
  width: 40px;
  height: 70px;
  position: absolute;
  bottom: 1%;
  left: 25%;
  animation: person-ete 15s linear infinite;
}
@keyframes person-ete {
  0% {
    margin-left: 0%;
    z-index: 2;
  }
  100% {
    margin-left: 25%;
    z-index: 2;
  }
}
[alt="person-hiver"] {
  width: 40px;
  height: 70px;
  position: absolute;
  bottom: 1%;
  left: 50%;
  animation: person-hiver 15s linear infinite;
}
@keyframes person-hiver {
  0% {
    margin-left: 0%;
    z-index: 2;
  }
  100% {
    margin-left: 25%;
    z-index: 2;
  }
}
[alt="person-parapluie"] {
  width: 60px;
  height: 90px;
  position: absolute;
  bottom: 1%;
  left: 75%;
  animation: person-parapluie 15s linear infinite;
}
@keyframes person-parapluie {
  0% {
    margin-left: 0%;
    z-index: 2;
  }
  100% {
    margin-left: 25%;
    z-index: 2;
  }
}
[alt="chien"] {
  width: 70px;
  height: 35px;
  position: absolute;
  bottom: 0%;
  left: 0;
  animation: chien 30s linear infinite;
  z-index: 1;
}
@keyframes chien {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

[alt="nuage"] {
  width: 100px;
  height: 60px;
  position: absolute;
  top: 2%;
  left: 0;
  animation: nuage 50s linear infinite;
  z-index: 2;
}
@keyframes nuage {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
[alt="soleil"] {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

[alt="arbre-ete"] {
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: 1%;
  left: 35%;
  z-index: 1;
}
[alt="arbre-hiver"] {
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: 1%;
  left: 60%;
  z-index: 1;
}
[alt="fleur"] {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: 2%;
  left: 10%;
  z-index: 1;
}
p {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 3rem;
  border: solid 4px black;
  text-transform: uppercase;
  animation: scrollTxt 0.8s linear 1;
}
@keyframes scrollTxt {
  0% {
    transform: translate(-100%, 0);
    /* margin-left: 0%; */
  }
  100% {
    transform: translate(0%, 0);
    /* margin-left: 100%; */
  }
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 98%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), white);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
}
.picture {
  position: relative;
  height: 100%;
}
.picture-div {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 100px;

  background-color: rgb(0, 0, 0);
}

.style {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.style-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.picture:hover .style-1 {
  z-index: 1;
}

/* ******************responsive****************** */

@media screen and (max-width: 600px) {
  [alt="personnage-printemps"] {
    width: 20px;
    height: 35px;
    bottom: 4%;
  }
  [alt="person-ete"] {
    width: 20px;
    height: 35px;
    bottom: 4%;
  }
  [alt="person-hiver"] {
    width: 20px;
    height: 35px;
    bottom: 4%;
  }
  [alt="person-parapluie"] {
    width: 40px;
    height: 42px;
    bottom: 4%;
  }
  [alt="chien"] {
    width: 35px;
    height: 20px;
  }

  [alt="nuage"] {
    width: 50px;
    height: 30px;
  }
  [alt="soleil"] {
    width: 50px;
    height: 50px;
  }
  [alt="arbre-ete"] {
    width: 50px;
    height: 75px;
    bottom: 4%;
    z-index: 2;
  }
  [alt="arbre-hiver"] {
    width: 50px;
    height: 75px;
    bottom: 4%;
    z-index: 2;
  }
  [alt="fleur"] {
    width: 15px;
    height: 20px;
    bottom: 4%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-gap: 10px;
    margin: 20px;
    background-color: rgb(0, 0, 0);
  }
  p {
    font-size: 1.5rem;
  }

  [alt="voiture"] {
    width: 50px;
    height: 25px;
  }
  [alt="plane"] {
    width: 50px;
    height: 35px;
  }
  .style {
    display: none;
  }
  .style-1 {
    display: none;
  }
  /* *********** */
  .pic-leg {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .pic-leg:active {
    transform: rotateY(180deg);
  }

  .picture,
  .legend {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  .legend {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(63, 61, 61), rgb(236, 234, 234));
    transform: rotateY(180deg);
  }
  /* ************** */
}
@media screen and (min-width: 600px) and (max-width: 1160px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-gap: 10px;
    margin: 20px;
    background-color: rgb(0, 0, 0);
  }

  p {
    font-size: 1.5rem;
  }

  .style {
    display: none;
  }
  .style-1 {
    display: none;
  }
  
  /* *********** */
  .pic-leg {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .pic-leg:active {
    transform: rotateY(180deg);
  }

  .picture,
  .legend {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  .legend {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(63, 61, 61), rgb(236, 234, 234));
    transform: rotateY(180deg);
  }
}
